name = "prisim-frontend"
pages_build_output_dir = ".vercel/output/static"
compatibility_date = "2025-07-01"
compatibility_flags = ["nodejs_compat"]

[[d1_databases]]
binding = "DB"
database_id = "1354e0eb-58e2-4041-94ba-9bbd5a06fba6"
preview_database_id = "1354e0eb-58e2-4041-94ba-9bbd5a06fba6"

[[r2_buckets]]
binding = "PRISIM_R2"
bucket_name = "prisim"
preview_bucket_name = "prisim"

