name = "prisim-frontend"
main = ".open-next/server-functions/default/index.mjs"
compatibility_date = "2025-07-01"
compatibility_flags = ["nodejs_compat", "global_fetch_strictly_public"]

[[r2_buckets]]
binding = "PRISIM_BUCKET"
bucket_name = "prisim"
preview_bucket_name = "prisim"

[[r2_buckets]]
binding = "NEXT_INC_CACHE_R2_BUCKET"
bucket_name = "prisim"
preview_bucket_name = "prisim"

[[d1_databases]]
binding = "JIMI_DB"
database_name = "prisim-frontend"
database_id = "1354e0eb-58e2-4041-94ba-9bbd5a06fb6a"

